<h1>Update Student</h1>
<form action="/students/update/<%= student.id %>" method="post">
    <table>
        <tr>
            <td><label>Name:</label></td>
            <td><input type="text" name="name" value="<%= student.name %>" required></td>
        </tr>
        <tr>
            <td><label>Course:</label></td>
            <td><input type="text" name="course" value="<%= student.course %>" required></td>
        </tr>
        <tr>
            <td><label>Email:</label></td>
            <td><input type="email" name="email" value="<%= student.email %>" required></td>
        </tr>
        <tr>
            <td><label>Age:</label></td>
            <td><input type="number" name="age" min="0" value="<%= student.age %>" required></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit" style="width: 100%;">Submit</button></td>
        </tr>
    </table>
</form>